.grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  // Column count

  &--three-column {
    .grid__column {
      width: 33.333%;
    }
  }

  &--four-column {
    .grid__column {
      width: 25%;
    }
  }

  // Spacing

  &--spacing-xxxs {
    width: calc(100% + $padding--xxxs);
    margin: 0 calc($padding--xxxs / -2);

    .grid__column {
      padding: calc($padding--xxxs / 2);
    }
  }

  &--spacing-xxs {
    width: calc(100% + $padding--xxs);
    margin: 0 calc($padding--xxs / -2);

    .grid__column {
      padding: calc($padding--xxs / 2);
    }
  }

  &--spacing-xs {
    width: calc(100% + $padding--xs);
    margin: 0 calc($padding--xs / -2);

    .grid__column {
      padding: calc($padding--xs / 2);
    }
  }

  &--spacing-small {
    width: calc(100% + $padding--small);
    margin: 0 calc($padding--small / -2);

    .grid__column {
      padding: calc($padding--small / 2);
    }
  }

  &--spacing-medium {
    width: calc(100% + $padding--medium);
    margin: 0 calc($padding--medium / -2);

    .grid__column {
      padding: calc($padding--medium / 2);
    }
  }



  // Padding

  &--padding-xxxs {
    .card__content {
      padding: $padding--xxxs;
    }
  }

  &--padding-xxs {
    .card__content {
      padding: $padding--xxs;
    }
  }

  &--padding-xs {
    .card__content {
      padding: $padding--xs;
    }
  }

  &--padding-small {
    .card__content {
      padding: $padding--small;
    }
  }

  &--padding-medium {
    .card__content {
      padding: $padding--medium;
    }
  }
}