.module {   
  &__padding-top {
    &--xxxs {
      padding-top: $padding--xxxs;
    }

    &--xxs {
      padding-top: $padding--xxs;
    }

    &--xs {
      padding-top: $padding--xs;
    }

    &--small {
      padding-top: $padding--small;
    }

    &--medium {
      padding-top: $padding--medium;
    }

    &--large {
      padding-top: $padding--large;
    }

    &--xl {
      padding-top: $padding--xl;
    }

    &--xxl {
      padding-top: $padding--xxl;
    }

    &--xxxl {
      padding-top: $padding--xxxl;
    }
  }

  &__padding-bottom {
    &--xxxs {
      padding-bottom: $padding--xxxs;
    }

    &--xxs {
      padding-bottom: $padding--xxs;
    }

    &--xs {
      padding-bottom: $padding--xs;
    }

    &--small {
      padding-bottom: $padding--small;
    }

    &--medium {
      padding-bottom: $padding--medium;
    }

    &--large {
      padding-bottom: $padding--large;
    }

    &--xl {
      padding-bottom: $padding--xl;
    }

    &--xxl {
      padding-bottom: $padding--xxl;
    }

    &--xxxl {
      padding-bottom: $padding--xxxl;
    }
  }
}

.interface-interface-skeleton__sidebar, .components-panel {
  background: rgb(235, 235, 235);
}

.field-heading {
  background-color: rgb(238, 238, 238);  
  padding: 10px 16px;  
  margin-left: -16px;
  margin-right: -16px;
  text-transform: uppercase;  
  margin-bottom: 10px !important;
}

.components-panel__body {
  border: solid 1px rgb(150, 150, 150) !important;
  box-shadow: $shadow--level-1;
  margin-bottom: 5px;
  background-color: white;
  
  // &.is-opened {
  //   padding: 16px 0;
  // }

  .block-editor-rich-text__editable {
    border: solid 1px rgb(150, 150, 150) !important;
    padding: 5px;
  }

  .components-button, .block-editor-block-card {
    background-color: white;
  }
}

// For inputs/selectors wrappers in inspector
.components-base-control {
  margin-bottom: 10px !important;
}
