.two-column {
  display: flex;
  justify-content: space-between;

  &__column {
    width: 50%;
  }

  &__column-gap {
    &--xxxs {
      column-gap: $padding--xxxs;
    }

    &--xxs {
      column-gap: $padding--xxs;
    }

    &--xs {
      column-gap: $padding--xs;
    }

    &--small {
      column-gap: $padding--small;
    }

    &--medium {
      column-gap: $padding--medium;
    }

    &--large {
      column-gap: $padding--large;
    }

    &--xl {
      column-gap: $padding--xl;
    }

    &--xxl {
      column-gap: $padding--xxl;
    }

    &--xxxl {
      column-gap: $padding--xxxl;
    }
  }

  &__column-type {
    &--image {      
      img {
        width: 100%;
      }
    }
  }
}
